<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>AE DEEP LEARNING DENOISER</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div>
        <h1 class="text-center">AE DEEP LEARNING DENOISER</h1>

        <h2 class="p-3 text-center">
            Welcome to the first working version of the Denoiser Audio Codec!
        </h2>

        <h3 class="p-3 text-center">
            Warning: This system is powered by a deep learning autoencoder model that has only been trained over 80 epochs due to time constraints on behalf of google colab's online work environment. As it stands, it will be evident that the deep learning approach has been trained to remove the randomly generated white noise from the example audio files available for input.
        </h3>

        <form class="p-3 text-center" action="/" method="post" enctype="multipart/form-data">
            <input class="form-control" type="file" name="wavfile" >
            <input class="btn btn-primary mt-3" type="submit" value="Upload Noisy File -> Denoise" >
        </form>


        <p class="p-3 text-center">To download the clean version, go to this link!
            <a href="http://127.0.0.1:5000/download"><button>Download Here!</button></a>
        </p>

    </div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

<footer>
    <h4 class="p-3 text-center">Jesse Kelly</h4>
</footer>

</html>